/* Fun Facts */
@import "../../assets/scss/variables";

.fun-facts {
  margin-top: 140px;
  background-image: url('../../img/header.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 140px 0px;
  color: #fff;
  position: relative;
}

.fun-facts .container {
  position: relative;
  z-index: 2;
}

.fun-facts:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.fun-facts span {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.fun-facts h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}

.fun-facts em {
  font-style: normal;
  color: $yellow;
}

.fun-facts p {
  color: #fff;
  margin-bottom: 40px;
}

.fun-facts .left-content {
  margin-right: 45px;
}

.count-area-content {
  text-align: center;
  background-color: rgba(250, 250, 250, 0.1);
  padding: 25px 30px 35px 30px;
  margin: 15px 0px;
}

.count-digit {
  margin: 5px 0px;
  color: $yellow;
  font-weight: 700;
  font-size: 36px;
}

.count-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
}

.filled-button {
  background-color: transparent;
  color: $yellow;
  border: 1px solid $yellow;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
  outline: none;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;

  &:hover {
    background-color: #fff;
    color: $black;
  }
;
}