@import "../../assets/scss/variables";

.masonry {
  margin: 100px auto;

  .ad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .modern-box {
      position: relative;
      background-color: #f3f4f3;
      display: flex;
      margin-bottom: 10px;
      padding: 30px 10px;

      .ad-heading {
        color: #222;
        font-weight: 600;
        line-height: 39px;
        letter-spacing: 0.84px;
        margin-top: 0;
        text-transform: uppercase;
        @media(max-width: 767px) {
          font-size: 16px;
          line-height: 25px;
        }
      }

      .description {
        color: #cac9c9;
        font-size: 22px;
        letter-spacing: 0.45px;
        padding: 10px 0;
      }

      .shop-now {
        color: #222;
        position: absolute;
        bottom: 30px;
        right: 5%;
        font-size: 15px;
        letter-spacing: 0.45px;
        text-transform: uppercase;
        text-decoration: none;
        transition: $transition;

        &:hover {
          color: blueviolet;
        }
      }
    }
  }
}

.col-md-5, .col-md-7, .col-md-8, .col-md-6, .col-md-9, .col-md-3 {
  position: relative;
  min-height: 1px;
  padding: 0 15px;
}

.reverse {
  flex-direction: row-reverse;
  padding-right: 10px; // i ovde cackaj da vidis sta se dogadja

  .shop-now {
    left: 3%;
  }
}

.modern-shop {
  flex: 0 0 48%;
  .img {
    max-width: 100%;
    height: 100%;
  }
}

.modern-product {
  flex: 0 0 31%;
  .col-md-7 {
    padding: 0;
  }
}













