.order-table-wrapper {
  img {
    width: 120px;
    @media(max-width: 767px) {
      width: 60px;
    }
  }

  .item-quantity {
    @media(max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      span{
        text-align: center;
      }
    }
  }
  .item-price{
    @media(max-width: 767px) {
      font-size: 18px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.order-process-step-two-wrapper {
  label.form-label, label.form-check-label {
    margin-top: 0;
  }

  .form-group {
    height: 100px;

    input {
      border-radius: 0;
      border: 1px solid #d9d9d9;

      &:focus {
        box-shadow: none;
      }
    }
  }
}


