.shop-ad-wrapper {
  .product-view {
    color: black;
    .featuredImage {
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 1.5s linear;
        &:hover {
          transform: scale(1.3);
        }
      }
    }
    .card-body {
      padding: 5px 0;
      .product-title {
        font-size: 20px;
        font-weight: 500;
      }

      .product-price {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}



