@import "variables";
@import "basics";
//@import "mixins";

/*********************
HEADER
*********************/
header {
  background-image: linear-gradient(
                  rgba($yellow, 0.2),
                  rgba($black, 0.4),
                  rgba($black, 0.8)
  ),
  url('../../img/header.jpg');
  height: 80vh;
  background-position: center;
  background-size: cover;
}

/* Request Form */

.request-form {
  background-color: $black;
  padding: 40px 0px;
  color: #fff;

  h4 {
    font-size: 22px;
    font-weight: 600;
  }

  span {
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    margin-top: 10px;
  }

  .border-button {
    margin-top: 12px;
    float: right;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 28px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    box-shadow: none;
    text-shadow: none;
    cursor: pointer;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

/* More Info */

.more-info {
  margin-top: 140px;
}

.more-info .left-image img {
  width: 100%;
  overflow: hidden;
}

.more-info .more-info-content {
  background-color: #f7f7f7;
}

.about-info .more-info-content {
  background-color: transparent;
}

.about-info .right-content {
  padding: 0px !important;
  margin-right: 30px;
}

.more-info .right-content {
  padding: 45px 45px 45px 30px;
}

.more-info .right-content span {
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.more-info .right-content h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}

.more-info .right-content em {
  font-style: normal;
  color: $yellow;
}

.more-info .right-content p {
  margin-bottom: 30px;
}

//.request-form a.border-button {
//  margin-top: 12px;
//  float: right;
//}

/*********************
FOOTER
*********************/
footer {
  .footer-title {
    a {
      font-size: 2.7rem;
      color: $firstFontColor;
      font-weight: 400;
      @media(max-width: 767px) {
        font-size: 1.8rem;
      }

      span:last-child {
        color: $secondFontColor;
      }
    }
  }

  .footer-social-links {
    display: flex;
    justify-content: center;

    a {
      font-size: 1.2rem;
      margin: 20px 5px;
      text-decoration: none;
      color: $thirdFontColor;
      border: 1px solid $thirdFontColor;
      padding: 13px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        transition: $transition;
        background-color: $secondFontColor;
        color: $firstFontColor;
      }
    }
  }

  ul {
    padding: 0;
  }

  .footer-links {
    color: $white;
    cursor: pointer;
    line-height: 2rem;

    &:hover {
      color: $violet;
    }
  }
}

/*********************
BOTTOM BAR
*********************/
.bottomBar {
  border-top: 2px solid $secondFontColor;
}

//.carousel-inner {
//  height: 60vh;
//  background-position: center;
//  background-size: cover;
//  .carousel-item {
//    .slide-image {
//      display: block;
//      width: 100%;
//      height: 80vh;
//      object-fit: fill;
//      object-position: center;
//
//    }
//  }
//}

.loader {
  border: 8px solid #fff;
  border-radius: 50%;
  border-top: 8px solid #1daaa3;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
}

.main-wrapper {
  height: 100%;
}