@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

$backgroundColor: #000000;
$firstFontColor: #ededed;
$secondFontColor: #f1c50e;
$thirdFontColor: #828282;
$transition:  0.5s ease-in;
$borderFont: rgb(199, 194, 194);
$navTopBackColor: #ffffff;


$fontFamily:  'Montserrat', sans-serif;
$logoFont: 'Akronim', cursive;
$fontSize: 16px;
$transition: .5s ease-in-out;
$textShadow: 0 0 2px #333;
$boxShadow: 0 0 10px #b7b6b6;
$black: #212529;
$white: #fff;
$gray: #333;
$violet: #7c57b4;
$yellow: #f1c50e;
$py: 80px 0;